body{
    height: 100%;
    width: 100%;
    background: url("../img/back-1.png") no-repeat;
    background-size: 100%;
    padding: 0;
    margin: 0;
}

.common-head img{/*login的logo*/
    margin: 0 auto;
    height: 120px;
    width: 160px;
    margin-top: 100px;
}
.register-head img{
    margin: 0 auto;
    margin-top: 60px;
    height: 100px;
    width: auto;
}

.contents{
    margin: 0 auto;
    text-align: center;
    width: 400px;
    min-height: 100%;
}

.input-out{/*input 外观*/
    border: 2px solid;
    border-color: #fafafa;
    border-collapse: collapse;
    border-radius: 20px;
    background-color: transparent;
    color: #fafafa;
}

.block{/*注册中间一大块*/
    height: 470px;
    border-width: 3px;
    padding-top: 20px;
}
.block-2{
    padding-top: 60px;
    height: 430px;
}

.input-in-login{
    display: inline-block;
    height: 60px;
    margin-top: 30px;
    width: 100%;
    font-size: 180%;
}
.block-in-reg{
    margin-top: 70px;
    font-size: 160%;
}
.block-in-reg-2{
    margin-top: 25px;
    font-size: 160%;
}
.input-in-reg{
    display: inline;
    height: 45px;
    width: 260px;
    border-radius: 15px;
}

.btn-login{
    text-align: center;
    background-color: #fafafa;
    color: #f0c040;
}
.btn-login:hover{
    color: #9B410E;
}
.btn-reg{
    margin-top: 80px;
    height: 50px;
}

.login-bot{/*忘记密码和立即注册的部分*/
    margin: 10px;
}

.a-common{
    color: #fafafa;
    font-size: 20px;
}
.forget{
    float: left;
}
.reg{
    float: right;
}

.footer{
    color: #fafafa;
    font-size: 20px;
}
.content{
    margin-top: 100px;
    min-height: 580px;
}
.register-content{
    margin-top: 40px;
    min-height: 700px;
}

.next{
    float: right;
    margin-top: 400px;
    margin-right: 35px;
}

.back{
    float: left;
    margin-top: 400px;
    margin-left: 35px;
}

.process{
    margin-top: 20px;
}