body,html{
    height:100%;
    font-size: 72.5%;
}

.my-name{
    font-size: 100%;
}

.my-comment{
    font-size: 150%;
}

.my-items{
    font-size: 150%;
}

.my-item-link{
    color: black;
}

/*-------------------*/
/*my-personal*/
/*-------------------*/
.per-top h2{
    font-size: 140%;
    margin-right: 3%;
}
.my-per-item h1{
    font-size:150%;
}

.per-top-bottom h1{
    font-size: 140%;
}
.per-top-bottom img{
    margin-top: 1%;
}