/*body样式*/

body{
    background-color:#292c37;
}

.total{
    background-image: url("../img/perInfo_bac.png");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
    height: 520px;

    text-align: center;
}
.photo{
    position: relative;
    margin: 0 0;
    left: 45px;
    top:14px;
    /*border-style: dashed;*/
    height: 33%;
    width: 33%;
    float: left;
}
.sheet_2{
    position: relative;
    margin: 0 0;
    right: 25px;
    top: 35px;
    /*border-style: dashed;*/
    height:33%;
    width:39%;
    /*text-align: center;*/
    float: right;
}
.sheet_1{
    position: relative;
    /*border-style: dashed;*/
    left: 50px;
    top: 30px;
}
/*评价信息的表格*/
/*#comment_table{*/
    /*position: relative;*/
    /*left: 166px;*/
    /*top: 48px;*/
/*}*/
/*!*个人信息的表格*!*/
/*#perInfo_table{*/
    /*position: relative;*/
    /*right: 58px;*/
    /*left: 58px;*/
    /*top: 197px;*/
    /*border-collapse: collapse;*/
/*}*/
#perInfo_table td{
    padding: 8px;
    text-align: left;
}
.table_item_2{
    font-family: "Microsoft YaHei UI";
    font-size: 15px;
    color: #cccc99;

}
.table_item_1{
    font-family: "Microsoft YaHei UI";
    font-size: 15px;
    color:#242424;
}
tr{
    position: relative;
    /*text-align: center;*/
}

