/*body样式*/
body{
    background-color: #2debae;
}

table{
    border-collapse: collapse;
}

/*注册的表格*/
.form_register{
    position: relative;
    left: 0; right: 0; top: 70px;
    background-size: cover;
    margin-left: auto; margin-right: auto;
    width: 320px;
    height: 520px;

    text-align: center;
}

#reg1{
    background-image: url("../img/register1_bac.png");;
}

#reg2{
    background-image: url("../img/register2_bac.png");;
}

#reg3{
    background-image: url("../img/register3_bac.png");;
}

/*注册的表格*/
#regist_table,#regist_table_1{
    position: relative;
    top: 120px;
}

#regist_table td{
    padding-left: 40px;
    padding-top: 20px;
}

#regist_table_1 td{
    padding-left: 30px;
    padding-top: 20px;
}
/*text*/
.table_item{
    font-family: "Microsoft YaHei";
    font-size: 15px;
    color: #242424;
}

/*input*/
.input{
    font-size: 25px;
    width: 150px;
    border-style: none;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
}

/*next,back*/
.bottom{
    position: relative;
    top: 170px;
    font-size: 13px;
    font-family: "Microsoft YaHei";
    color: #3b4f36  ;
    text-align: center;
    margin: 50px;
}

a{
    text-decoration: none;
}


