.webuploader-container {
	position: relative;
	display: inline-block;
	width: 31%;
	/*text-align: left;*/
	/*padding-bottom: 31%;*/
	/*float: left;*/
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	/*background: #00b7ee;*/
	background-image: url("../img/add-pic.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*height: 100%;*/
	width: 100%;
	padding-bottom: 100%;



	/*padding: 10px 15px;*/
	color: #fff;
	/*text-align: center;*/
	border-radius: 3px;
	overflow: hidden;
}
.webuploader-pick-hover {
	/*background: #000;*/
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

#itemList{
	width: 100%;
	overflow: hidden;
	min-height: 20%;
	text-align: justify;
	padding-top: 1%;
}

.file-item{
	display: inline-block;
	float: left;
	/*height: 31%;*/
	width: 31%;
	padding-right: 1%;
	padding-bottom: 1%;
}
.uploader-list{
	display: inline;
	vertical-align: top;
}